.tabellone{
    text-align: center;
    margin-left: 25px;   
}
h2{
    text-align: center;
}

.campo{
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    height: 50px;
    width: 100px;
    text-align: center;
    /* text-decoration-color: blue;
    border-color: black;
} */
}

.tabella{
    border-color: black;
    margin-left: 25px;
    height: 50px;
    width: 100px;
    text-align: center;
}
